*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game{
    width: 100%;
    height: 100vh;
    background-image:url(https://i.pinimg.com/originals/4a/85/c4/4a85c407848cafba739a432313415f35.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.player1{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%,-50%);
}

.player2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%,-50%);
}