*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    background-image: url('http://twistedsifter.com/wp-content/uploads/2013/05/animated-gifs-of-fighting-game-backgrounds-8.gif');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.char{
    position: absolute;
    bottom: 20px;
    height: 200px;

}
#char1{
    left: 40px;
}
#char2{
    right: 40px;
    transform: scaleX(-1);
}